*{
    margin: 0;
    padding: 0;

}
.container{
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrappper{
    width: 600px;
    background-color: whitesmoke;
    border-radius: 25px;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.top h2{
    font-weight: 100;
    color: grey;
    margin-left: 20px;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.circle{
    width: 60px;
    height: 60px;
    border: 5px solid grey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:20px;
}
.inputs{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.inputs input{
    margin: 10px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    outline: none;
    font-weight: 300;
}
.inputs .pass,.rpass{
    padding-right: 25px;
    background: url(eye.svg) no-repeat right;
    background-size: 20px;
    cursor: pointer;
}

.wrap {
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  .button h2{
      font-size: medium;
      color: #4682B4;
  }
  .terms{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      color: gray;
  }
  .terms h2{
      font-size: medium;
      color: gray;
      text-decoration: none;
  }
  .social{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .social .google{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: brown;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }
  .social .github{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #4078c0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social .twitter{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #1DA1F2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social .fb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#4267B2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
a:link, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
